/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2020, 9:55:25 PM
    Author     : Isaac
*/

.jfx-date-picker {
    -jfx-default-color: -fx-second-color;
}

.jfx-date-picker,
.jfx-date-picker:focused,
.jfx-date-picker:focused:editable {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-date-picker .jfx-text-field{
    -fx-text-fill: -fx-second-color;
    -fx-prompt-text-fill: -fx-second-color;
}

.jfx-date-picker > .arrow-button,
.jfx-date-picker:editable > .arrow-button,
.jfx-date-picker:focused > .arrow-button,
.jfx-date-picker:editable:focused > .arrow-button {
    -fx-background-color: -fx-first-color;
    -fx-padding: 1 8 1 8;
}

.jfx-date-picker > .arrow-button > .jfx-svg-glyph {
    -fx-background-color: -fx-second-color;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -fx-first-color;
}

.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color:-fx-first-color;
}

.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}

.date-picker-popup > * > .date-picker-list-view > .virtual-flow > .clipped-container > .sheet > .data-picker-list-cell {
    -fx-font-size: 16;
    -fx-font-weight: NORMAL;
    -fx-background-color: -fx-first-color;
    -fx-alignment: center;
    -fx-text-fill: #313131;
}

.date-picker-popup > * > .date-picker-list-view > .virtual-flow > .clipped-container > .sheet > .data-picker-list-cell > .jfx-rippler {
    -jfx-rippler-fill: grey;
}

.date-picker-popup > * > .date-picker-list-view > .virtual-flow > .clipped-container > .sheet > .data-picker-list-cell:hover {
    -fx-background-color: -fx-first-color;
}

.date-picker-popup > * > .date-picker-list-view > .virtual-flow > .clipped-container > .sheet > .data-picker-list-cell:selected-year {
    -fx-font-size: 24;
    -fx-font-weight: BOLD;
    -fx-text-fill: -fx-second-color;
}

.jfx-date-picker .date-picker-popup .calendar-grid{
    -fx-background-color:-fx-first-color;
}

.jfx-date-picker .date-picker-popup .calendar-grid .day-cell:hover,
.jfx-date-picker .data-picker-list-cell:hover {
    -fx-background-color: -fx-second-color;
    -fx-text-fill:-fx-first-color;
    -fx-background-radius:40%;
    -fx-cursor: hand;
}

.jfx-date-picker .date-picker-popup .calendar-grid .day-cell.selected{
    -fx-background-color: -fx-second-color;
    -fx-text-fill: -fx-first-color;
    -fx-background-radius:40%;    
}