/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2020, 11:45:48 PM
    Author     : Isaac
*/

*{
    -fx-first-color:rgb( 33,150,243);
    -fx-first-color-91-transparent:rgba(33,150,243,0.91);
    -fx-first-color-hex:#2196f3;
    
    
    -fx-second-color:rgb(255,255,255);
    -fx-second-color-hex:#ffffff;
    -fx-second-color-5-transparent:rgba(255,255,255,0.5);
    
    -fx-shadow-color:#000000;
}