
.combo-box{
    -jfx-focus-color:rgb( 0,121,107);
    -jfx-unfocus-color:rgb( 0,121,107);
    -fx-prompt-text-fill: rgb( 0,121,107);
}

.combo-box-base{
    -jfx-label-float:false;
}

.combo-box-base .cell{
    -fx-text-fill: rgb(0,121,107);
}

/*.combo-box .list-cell{
    
    -jfx-focus-color:-fx-first-color;
    -fx-text-fill: -fx-second-color;
}*/

.combo-box-popup .list-view .list-cell:hover,.combo-box-popup .list-view .list-cell:focused{
    -fx-background-color:rgb( 0,121,107);
    -fx-text-fill: rgb( 255,255,255);
}

.combo-box-popup .list-view .list-cell{
    -fx-background-color:rgb(255,255,255);
    -fx-text-fill: rgb( 0,121,107);
}

.combo-box-base > .arrow-button > .arrow{
    -fx-background-color:rgb(0,121,107);
}
/*.combo-box-popup .list-cell{
    -jfx-focus-color:-fx-first-color;
    -jfx-unfocus-color:-fx-second-color;
}
*/