
.combo-box{
    -jfx-focus-color: rgb(145, 239, 145);
    -jfx-unfocus-color:rgb(11, 148, 11);
    -jfx-label-float:true;
}

.combo-box-base .cell{
    -fx-text-fill: rgb(11, 148, 11);
}

/*.combo-box .list-cell{
    
    -jfx-focus-color:-fx-first-color;
    -fx-text-fill: -fx-second-color;
}*/

.combo-box-popup .list-view .list-cell:hover,.combo-box-popup .list-view .list-cell:focused{
    -fx-background-color:rgb(145, 239, 145) ;
    -fx-text-fill: rgb(11, 148, 11);
}

.combo-box-popup .list-view .list-cell{
    -fx-background-color:#ffffff ;
    -fx-text-fill: rgb(11, 148, 11);
}

.combo-box-base > .arrow-button > .arrow{
    -fx-background-color:rgb(11, 148, 11);
}
/*.combo-box-popup .list-cell{
    -jfx-focus-color:-fx-first-color;
    -jfx-unfocus-color:-fx-second-color;
}
*/